doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title babbies Dash
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/babbieslist.css')
.dashboard
  #main
    #navbar
      ul 
       il
    h1 Daystar Babbies Dashboard
table.table.table-striped.table-responsive
                    thead.bg-secondary
                        tr
                            th BABY  NAME
                            th GENDER 
                            th AGE 
                            th FAVORITES 
                            th HEALTH STATUS
                            th PARENTS CONTACT
                            th PARENTS NAME  
                            th NEXT OF KIN
                            th BABY NUMBER 
                            th ALLERGIES  
                            th ASSIGNED SITTER 
                            th  CHECKIN
                            th CHECKOUT
                            th TIME SPENT
                            th BROUGHTBY
                            th PICKEDBY
                            th UPDATE
                            th DELETE
                    tbody
                        if babies.length
                        each baby in babies
                            tr
                                td #{baby.babyName}
                                td #{baby.gender}
                                td #{baby.age}
                                td #{baby.favorites}
                                td #{baby.healthStatus}
                                td #{baby.parentsContact}
                                td #{baby.parentsName}
                                td #{baby.nextOfKin}
                                td #{baby.idNo}
                                td #{baby.allergies}
                                td #{baby.assignedSitter}
                                td #{baby.checkIn}
                                td #{baby.checkOut}
                                td #{baby.timeSpent}
                                td #{baby.broughtBy}
                                td #{baby.pickedBy}
                                td 
                                  a.btn.btn-primary( href=`/babyregister/`+ baby._id) Update 
                                td
                                  form(method="POST" action="/deletebaby")
                                      input(type="hidden" name="id" value= baby._id)
                                      button.btn.btn-block.btn-danger(type="submit") Delete
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
