doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sitters
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/sitters.css')
#main
  #container
    #rol
    h5 SITTERS FORM
    form#submit.entry-form(onsubmit='return validationForm()' action='/sitters' method='POST' )
      .input
        label(for='sitters-name')  
        input.sitters-text-form(type='text' placeholder='SITTER NAME' name='sitterName' id='name' value=sitter.sitterName)
        span#nameError.error
      br
      .form-group
        label(for='sitters-age')
        input.sitters-text-form(type='number' placeholder='AGE' name='age' id='age' value=sitter.age)
        span#ageError.error
      br
      .form-group
        label(for='gender ')
        select#gender(name='gender')
          if sitter.gender == ''
            option(value='' selected) GENDER  
          else 
            option(value='') GENDER
          if sitter.gender == 'male'
            option(value='male' selected) male
          else 
            option(value='male') male
          if sitter.gender == 'female'
            option(value='female' selected) female
          else 
            option(value='female') female
        span#genderError.error
      br
      .form-group
        label(for='religion')
        select#religion(name='religion')
          if sitter.religion == ''
            option(value='' selected) RELIGION
          else 
            option(value='') RELIGION
          if sitter.religion == 'Christian'
            option(value='Christian' selected) Christian
          else 
            option(value='Christian') Christian
          if sitter.religion == 'Moslem'
            option(value='Moslem' selected) Moslem 
          else 
            option(value='Moslem') Moslem
          if sitter.religion == 'Orthodox'
            option(value='Orthodox' selected) Orthodox
          else 
            option(value='Orthodox') Orthodox
          if sitter.religion == 'Protestant'
            option(value='Protestant' selected) Protestant
          else 
            option(value='Protestant') Protestant
          if sitter.religion == 'Catholic'
            option(value='Catholic' selected) Catholic
          else 
            option(value='Catholic') Catholic
        span#religionError.error
      br
      .form-group
        label(for='education-background')  
        input.sitters-text-form(type='text' placeholder='EDUCATION BACKGROUND' name='educationBackground' id='education' value=sitter.educationBackground)
        span#eduError.error
      br
      .form-group
        label(for='location')  
        input.sitters-text-form(type='text' placeholder='LOCATION' name='location' id='location' value=sitter.location)
        span#locationError.error
      br
      .form-group
        label(for='contact')  
        input.sitters-text-form(type='text' placeholder='CONTACT' name='contact' id='contact' value=sitter.contact)
        span#contactError.error
      br
      .form-group
        label(for='ninno.')  
        input.sitters-text-form(type='text' placeholder='NINno.' name='nin' id='nin' value=sitter.nin)
        span#ninError.error
      br
      .form-group
        label(for='next-of-kin')  
        input.sitters-text-form(type='text' placeholder='NEXT OF KIN' name='nextOfKin' id='nextOfKin' value=sitter.nextOfKin)
        span#nextofkinError.error
      br
      .form-group
        label(for="recommender'sitters-name")  
        input.sitters-text-form(type='text' placeholder="RECOMMENDER'S NAME" 
        name='recommendersName' id='recommender' value=sitter.recommendersName)
        span#recommendersnameError.error
      br
      .form-group
        label(for="recommender'sitters-name")  
        input.sitters-text-form(type='text' placeholder="RECOMMENDER'S CONTACT" name='recommendersContact' id='recommendersContact' value=sitter.recommendersContact)
        span#recommendersContactError.error
      br
      .form-group
        label(for="sitters-number")  
        input.sitters-text-form(type='text' placeholder="SITTER NUMBER" name='sitterNumber' id='sitterNumber' value=sitter.sitterNumber)
        span#sitternumberError.error
      br
      .form-group
        label(for="sitters-availability")  
        input.sitters-text-form(type='text' placeholder="AVAILABILITY" name='availability' id='availability' value=sitter.availability)
        span#availabilityError.error
      br
      button.btn-primary(type='submit') Update
script(src='/js/sittersvalidation.js')
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
